*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: rgba(73, 80, 87, 1);
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-wrap: wrap;
}

body {
	font-family: 'DM Sans', sans-serif;
	background-color: rgb(220, 233, 226);
}

.header-logo {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	display: inline-block;
}

.header-logo .logo-hover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.header:hover .logo-hover {
	display: inline;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: rgba(220, 233, 226, 1);
	z-index: 1;
	flex-wrap: wrap;
	transition: .5s;
}

header:hover {
	background-color: rgba(0, 133, 111, 1);
}

header:hover .menu-link a {
	color: rgba(220, 233, 226, 1);
}



header:hover .link-item a {
	color: rgba(220, 233, 226, 1);
	border: 1px solid rgba(220, 233, 226, 1);
	border-radius: 40px;
}

.assistencia-medica {
	margin-top: 144px;
}

.header-container {
	width: 1120px;
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.link-item a  {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 133, 111, 1);
	padding: 9px 16px 9px 16px;
	cursor: pointer;
}

.link-item a  {
	border: 1px solid rgba(0, 133, 111, 1);
	border-radius: 40px;
}

.menu-link:hover {
	padding-bottom: 25px;
	border-bottom: 2px solid rgba(220, 233, 226, 1);
	cursor: pointer;
}

.menu-link {
	margin-right: 32px;
}

.menu-link a {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: rgba(0, 133, 111, 1);
}

span {
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: rgba(0, 133, 111, 1);
	text-transform: uppercase;
	padding-bottom: 16px;
}

h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	padding-bottom: 24px;
	color: rgba(33, 37, 41, 1);
}

h1:first-letter {
	text-transform: uppercase;
}

.medica-text:first-letter {
	text-transform: uppercase;
}

.medica-text {
	padding-bottom: 32px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: rgba(73, 80, 87, 1);
}

section, footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.assistencia-medica-container {
	max-width: 1120px;
	display: flex;
	margin-top: 80px;
}

.assistencia-medica {
	background-color: rgba(220, 233, 226, 1);
}

.podemos-container {
	max-width: 1120px;
    padding-bottom: 160px;
}

.sobre-nos {
	background-color: rgba(255, 250, 241, 1);
}

.sobre-nos-container {
	max-width: 1120px;
	display: flex;
	justify-content: space-between;
	padding-top: 160px;
	padding-bottom: 160px;
}

.contato {
	background-color: rgb(255, 255, 255);
}

.contato-container {
	max-width: 1120px;
	display: flex;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 1);
	flex-wrap: wrap;
	padding-top: 160px;
	padding-bottom: 160px;
	justify-content: center;
	column-gap: 208px;
}

.medica-text-item {
	display: flex;
	flex-direction: column;
	padding-top: 80px;
	padding-right: 51px;
	flex-wrap: wrap;
}

.button  {
	display: flex;
	cursor: pointer;
	flex-wrap: wrap;
}

.call-image {
	display: flex;
	background-color: rgba(0, 133, 111, 1);
	height: 52px;
	width: 263px;
	left: 123px;
	top: 435px;
	border-radius: 40px;
	padding: 16px, 32px, 16px, 32px;
	align-items: center;
	justify-content: center;
	margin-bottom: 84px;
	cursor: pointer;
	opacity: 0.6;
	transition: 0.7s;
	flex-wrap: wrap;
}

.button {
	display: flex;
	background-color: rgba(0, 133, 111, 1);
	height: 56px;
	width: 267px;
	left: 123px;
	top: 446px;
	border-radius: 40px;
	padding: 16px, 32px, 16px, 32px;
	align-items: center;
	justify-content: center;
	margin-bottom: 84px;
	cursor: pointer;
	opacity: 0.6;
	transition: 0.7s;
	flex-wrap: wrap;
}

.call-image:hover {
	background-color: rgb(0, 69, 58);
}

.button:hover {
	background-color: rgb(0, 69, 58);
}

.call-image a {
	padding-right: 18px;
}


.call-image a {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
}

.button a {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
}


.podemos {
	background-color: rgba(247, 249, 249, 1);
}

.items {
	border: 1px solid rgba(220, 233, 226, 1);
	bottom: 30px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 60px 120px 60px 120px;
	text-align: center;
}

.items-row {
	position: relative;
	bottom: 110px;
	background-color: rgba(255, 250, 241, 1);
}

.quantity {
	font-weight: 700;
	font-size: 48px;
}

.borders-item {
	border-left: 1px solid rgba(0, 133, 111, 1);
	border-right: 1px solid rgba(0, 133, 111, 1);
}

.peoples::first-letter {
	text-transform: uppercase;
}

.peoples {
	font-weight: 400;
 	font-size: 16px;
	color: rgba(0, 133, 111, 1);
}

.table-container {
	display: grid;
	grid-template-rows: 1fr 1fr ;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
	margin-bottom: 160px;
}

.especialistas-block {
	border-left: 1px solid rgba(0, 133, 111, 1);
	border-right: 1px solid rgba(0, 133, 111, 1);
}

.block-text {
	margin-bottom: 64px;
    text-align: center;
}

h2::first-letter {
	text-transform: uppercase;
}

h2 {
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	padding-bottom: 24px;
}

h3::first-letter {
	text-transform: uppercase;
}

.item-row p::first-letter {
	text-transform: uppercase;
}

.item-row {
	padding: 24px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(220, 233, 226, 1);
	transition: .5s;
}

.item-row:hover {
	transform: scale(1.5);
	cursor: pointer;
}

.doctor-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.medicine-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 67px;
	flex-wrap: wrap;
}

.medicine-text p::first-letter {
	text-transform: uppercase;
}

.contato-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.contato-info h2 {
	padding-bottom: 40px;
}

.pacient-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.contacts li {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 16px;
}
.contacts {
	padding-bottom: 40px;
}

.contacts li div {
	padding-right: 10px;
}

.button a {
	padding-right: 18px;
}

address {
	font-style: normal;
	text-transform: capitalize;
	color: rgba(73, 80, 87, 1);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

.contacts li a {
	color: rgba(73, 80, 87, 1);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

.footer {
	background-color: rgba(0, 133, 111, 1);
}

.footer-container {
	max-width: 1120px;
	padding-top: 80px;
	padding-bottom: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 672px;
}

.social-network-item {
	display: flex;
	flex-wrap: wrap;
}

.logo-footer {
	padding-bottom: 24px;
}

.company-info .rights-company-item {
	padding-bottom: 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: rgba(255, 250, 241, 1);
}

.company-info .rights-item::first-letter {
	text-transform: uppercase;
}

.company-info .rights-item {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: rgba(255, 250, 241, 1);
}

.youtube, .facebook {
	padding-left: 40px;
}

[class*="-container"] {
	margin: 0px 24px;
}

.agende-mobile,
.socials-mobile {
	display: none;
}

.menu-icon {
	display: none;
}

.header-menu-mobile {
	display: none;
}


.header-menu-mobile.active {
	top: 72px;
	display: block;
    position: absolute;
    height: calc(100% - 72px);
    width: 100%;
    z-index: 99999999;
    background-color: rgba(0, 133, 111, 1);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-menu-mobile.active .menu-list li a {
	color: rgba(255, 250, 241, 1);
}

.hide {
	display: none;
}

.header-menu-mobile .agende-mobile a {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	color: rgba(255, 250, 241, 1);
}

.header-menu-mobile .agende-mobile a:hover {
	padding: 16px 32px;
	background-color: rgba(255, 250, 241, 1);
	color: rgba(0, 133, 111, 1);;
	border-radius: 40px;
}

.header-menu-mobile .socials-mobile {
	width: 133px;
	display: flex;
	justify-content: space-between;
	margin-top: 82px;
}

button {
	background: none;
}










.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none; 
}

.popup-container.active {
    pointer-events: all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background:  rgb(0, 133, 111);
    width: 200px;
    padding: 25px;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin-bottom: 5px;
}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
}

.popup input:focus {
    border: 1px solid rgb(128, 128, 128);
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid rgb(128, 128, 128);
    background: rgb(128, 128, 128);
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background: #00453A;
    transition: 0.5s all;
}





















@media (max-width: 955px) {
	.header-menu, .link-item {
		display: none;
	}
	.header-container {
		padding: 27px 24px 27px 24px;
	}
	.assistencia-medica-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
	}
	.medica-text-item, .medica-text {
		text-align: center;
		flex-wrap: wrap;
		position: relative;
	}
	h1 {
		font-size: 34px;
	}
	.call-image, .woman-image {
		margin: 0 auto;
	}
	.items {
		border: 1px solid rgba(220, 233, 226, 1);
		bottom: 30px;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		padding: 40px;
		text-align: center;
	}
	.table-container {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}
	.borders-item {
		border: none;
	}
	.table-container {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}
	.borders-item {
		border: none;
	}
    img {
		max-width: 100%;
	}
	.button  {
		margin-left: 0px;
	}
	.woman-image img, svg, .pacient-image img {
		min-width: 100%;
	}
    h2 {
	font-size: 30px;
    }
}


@media (max-width: 1115px) {
	
	.header-container {
		padding: 27px 24px 27px 24px;
	}
	.assistencia-medica-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
	}
	.medica-text-item, .medica-text {
		text-align: center;
		flex-wrap: wrap;
		position: relative;
	}
	h1 {
		font-size: 34px;
	}
	.call-image, .woman-image {
		margin: 0 auto;
	}
	.items {
		border: 1px solid rgba(220, 233, 226, 1);
		bottom: 30px;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		padding: 40px;
		text-align: center;
	}
	.table-container {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}
	.borders-item {
		border: none;
	}
	.table-container {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}
	.borders-item {
		border: none;
	}
    img {
		max-width: 100%;
	}
	.button  {
		margin-left: 0px;
	}
	.woman-image img, svg, .pacient-image img {
		min-width: 100%;
	}
    h2 {
	font-size: 30px;
    }
}



	@media (min-width: 1150px) {
	.menu-list {
		display: flex;
		align-items: center;
	}
}

@media (max-width: 1150px) {
	.menu-list {
		display: flex;
		align-items: center;
	}
}

	@media (max-width: 955px) {
	.menu-icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 20px;
		height: 16px;
		cursor: pointer;
	}
	.menu-icon .icon,
	.menu-icon::before,
	.menu-icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: rgb(255, 255, 255);
	}

	.menu-icon::before,
	.menu-icon::after {
		content: "";
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		width: 12px;
		bottom: 0;
	}
	.menu-icon .icon {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu-icon.active .icon {
		transform: scale(0) translate(0px, -50%);
	}
	.menu-icon.active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
		width: 20px;
	}
	.menu-icon.active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
		width: 20px;
	}

	.menu-list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.menu-list li a {
		padding-bottom: 48px;
		font-weight: 700;
		font-size: 24px;
	}

	.menu-list  li {
		flex-wrap: wrap;
		padding-bottom: 48px;
	}
	.menu-list  li a:hover {
		background-color: rgb(255, 255, 255);
		padding: 16px 32px;
		border-radius: 40px;
		transition: .1s;
		color: rgba(0, 133, 111, 1);
	}


	.menu-list  li.active {
		display: block;
	}
	.menu-link {
		font-size: 24px;
	}

	.header-container {
		padding: 27px 24px 27px 24px;
	}
	.assistencia-medica-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
	}
	.medica-text-item, .medica-text {
		text-align: center;
		flex-wrap: wrap;
		position: relative;
	}
	h1 {
		font-size: 34px;
	}
	.call-image, .woman-image {
		margin: 0 auto;
	}
	.items {
		border: 1px solid rgba(220, 233, 226, 1);
		bottom: 30px;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		padding: 40px;
		text-align: center;
	}
	.table-container {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}
	.borders-item {
		border: none;
	}
	.table-container {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}
	.borders-item {
		border: none;
	}
	.contato-container {
		justify-content: left;
	}
	.button  {
		margin-left: 0px;
	}
	.table-container {
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
		margin-bottom: 100px;
	}
	.borders-item {
		border: none;
	}
	.sobre-nos-container {
		flex-direction: column-reverse;
	}
	h1 {
		font-size: 34px;
	}
		.link-item {
		display: none;
	}
	.medicine-text {
		padding-bottom: 67px;
	}
	.item-row:hover {
		transform: scale(1.3);
	}
	.medica-text {
		padding-left: 0px;
	}
	.social-network-item {
		padding-top: 24px;
	}
	.button {
		margin-bottom: 60px;
	}
	.woman-image {
		margin-top: 70px;
	}
	.medica-text-item {
		padding-right: 0;
	}
	.medicine-text {
		padding-left: 0;
	}
	.woman-image img, svg, .pacient-image img {
		max-width: 100%;
	}
	h2 {
	font-size: 30px;
	}

	.agende-mobile,
    .socials-mobile {
	display: block;
}


.header-menu-mobile .menu-link {
	border-bottom: none;
	padding-bottom: 48px;
}

.header-menu-mobile .menu-list li a:hover {
	color: rgba(0, 133, 111, 1);
}

.menu-link {
	margin-right: 0px;
}



}
